.Main {
  padding: 0 20px;
  height: calc(~"100vh - 64px");
  overflow-y: auto;
}
.container {
  :global {
    .ant-row {
      margin-bottom: 12px;
    }
  }
  .charts {
    width: 100%;
    height: 200px;
  }
}
.countNum {
  h2 {
    font-size: 16px;
    margin-bottom: 0;
  }
  p {
    font-size: 26px;
    text-align: center;
    padding: 10px 0;
  }
}
